{% for student in student_item %}

<h3><a href="{{ path('acme_student_show', {'id':  student.Id  }) }}">{{ student.Name }}</a></h3>
<p>{{ student.Roll }}</p>
<p>{{ student.Age }}</p>
<br/>
{% endfor %}